
/*top nav bar*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.top-bar-container {
    padding: 10px 20px;
    width: 100%;
    height: 65px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .5);
    background-color: #ffffff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
    height: 45px;
    position: relative;
    margin: auto;
}

.nav-buttons {

}

.addPost {
    display: inline-block;
    padding: 4px 0 5px 0;
    margin: 0 20px;
}

.addPost a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}


.category-outer-container {
    display: inline-block;
}


.logo {
    height: 46px;
}

.categories {
    display: block;
    position: absolute;
    top: 33px;
    width: calc(100% - 10px);
    left: 5px;
    background-color: #666666;
    box-shadow: 1px 6px 8px 1px rgba(0, 0, 0, .5);
    margin: 0;
    padding: 0;
    z-index: 3;
}

.category {
    width: 100%;
    padding: 0;
    text-align: center;
    list-style-type: none;
    display: block;
}

.category-select {
    border: 1px solid #666;
    padding: 0 20px 0 20px;
}

.category-link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    color: #ffffff;
    cursor: pointer;
}

.category-link:hover {
    color: #00d10f;
    background-color: #dcdcdc;
}

.category-container {
    display: inline-block;
    position: relative;
}
.selected-category {
    min-width: 150px;
    padding: 0;
    margin: 0 5px;
    border: 1px solid #666;
    border-radius: 2px;
    text-align: left;
    display: inline-block;

}

.selected-category a {
    display: block;
    width: 100%;
    background-color: #ffffff;
    padding: 5px 15px;
    color: #666666;
    background: url(../images/selectArrow.svg) no-repeat;
    background-position: right 5px center;
    background-size: 15px 15px;
}
.selected-category a:hover {
    background-color: #017C82;
    color: #ffffff;
    background-image: url(../images/selectArrow_white.svg);
}
.showMobile {
    display: none;
}
@media screen and (max-width: 768px) {

.logo {
    height: auto;
}
.logo a {
    display: block;
    position: relative;
}

.logo-img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    top: 50%;
    transform: translateY(-50%;);
}
.showMobile {
    display: initial;
}

.hideMobile {
    display: none;
}

.selected-category a {
    background-image: none;
    padding: 0;
}

.selected-category {
    border: none;
}

.categories {
    top: 43px;
    left: -20px;
}

.category {
    text-align: left;
    color: #ffffff;
}
.category-link.sub {
    padding-left: 50px;
}

.category-link {
    padding: 10px 30px;
}

.menu-header {
    color: #00D10E;
    padding: 10px 30px;
    font-style: italic;
}

.hamburger {
        position: absolute;
        display: block;
        right: 1em;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        bottom: .75em;
        width: 1.75em;
        height: 1.75em;
        background-image: none;
        background: linear-gradient( to bottom, #666, #666 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, #666 40%, #666 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, #666 80%, #666 100%);
        cursor: pointer;
        border-radius: 1px;
        padding: 5px;
    }
}

/* list view */

main {
    padding: 10px 40px;
    z-index: 0;
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    position: relative;
    margin: 80px auto 0 auto;
}

.list-header {
    border-radius: 2px;
    width: 100%;
    background-color: #ccc;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, .3);
    margin: 5px 0 5px 0;
}

.category-header {
    margin: 8px 10px 10px 10px;
    color: #017C82;
    font-size: 1.5em;
}

.sorter-container {

    background-color: rgba(65, 65, 65, .95);
    border-radius: 0 0 2px 2px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}

.search {
    width: calc(50% - 40px);
    min-width: 200px;
    height: 30px;
    text-align: right;
}

.sorter {
    width: calc(50% - 40px);
    min-width: 200px;
    text-align: left;
    height: 30px;
}

input,
select {
    margin: 3px 0 3px 3px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    vertical-align: middle;
}

input {
    padding: 2px 8px 4px 8px;
}

select {
    padding: 2px 20px 4px 8px;
    background: url(../images/selectArrow.svg) no-repeat;
    background-size: 10px 8px;
    background-position: right 5px center;
    background-color: #ffffff;
}

textarea {
    width: 100%;
    height: 200px;
}

.card {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, .3);
    /*border: 1px solid #666;*/
    width: 100%;
    margin: 5px 0 5px 0;
    min-height: 60px;
    padding: 10px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.card:hover {
    background-color: rgba(230, 230, 230, .95);
    box-shadow: none;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vote-score {
    display: inline-block;
    width: 15%;
}
.title {
    display: inline-block;
    width: 55%;
}
.date {
    display: inline-block;
    width: 30%;
}

.fa-thumbs-up,
.fa-thumbs-down {
    color: #00D10E;
}

.vote-buttons {
    padding: 0 10px 0 10px;
}

.vote-button {
    padding: 0 5px 0 5px;
}
.vote-button i:hover {
    color: #017C82;
}

.card-link {
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

.title-link:hover {
    color: #00A90B;
}

.date {
    text-align: right;
}

@media screen and (max-width: 768px) {

    main {
        padding: 10px 10px;
    }

    .main-container {
        margin-top: 60px;
    }

    .search {
        min-width: auto;
        text-align: left;
        margin-bottom: 5px;
        height: auto;
    }

    .sorter {
        min-width: auto;
        text-align: left;
        margin-bottom: 5px;
        height: auto;
    }

    select,
    input {
        width: 100%;
    }

    footer {
        display: block;
        width: 100%;
        height: 100px;
    }

}


/*post section and edti post form*/

.post {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, .3);
    /*border: 1px solid #666;*/
    width: 100%;
    margin: 5px 0 5px 0;
    min-height: 60px;
    padding: 10px;
    font-size: 1.2em;
}

.post-error {
    text-align: center;
    margin: 20px;
    color: #017C82;
    font-size: 1.5em;
}

.post-error-text {
    text-align: center;
    margin-bottom: 20px;
}

.post-header {
    position: relative;
}
.post-back {
    position: absolute;
    right: 10px;
    top: 0;
}

.not-found-msg {
    text-align: center;
    margin-bottom: 20px;
}

.post-title {
    margin: 8px 10px 10px 10px;
    color: #017C82;
    font-size: 1.5em;
}

.post-attributes {
    margin: 8px 10px 10px 10px;
    font-size: .9em;
    font-style: italic;
}

.post-controls {
    display: flex;
    margin: 8px 10px 20px 10px;
    justify-content: space-between;
}

.post-body {
    margin: 8px 10px 40px 10px;
}

.post-comments {
    margin: 25px 10px 10px 10px;
    padding: 20px 0 0 0;
    border-top: 1px solid #ccc;
    font-size: .9em;
}

.comment-item {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}

.comments-section-title {
    font-size: 1.1em;
    margin: 0 0 10px 0;
}

.comments-section-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.comments-section-add {
    display: block;
    color: #666;
}

.comment-attributes {
    margin: 8px 0 20px 0;
    font-size: .9em;
    font-style: italic;
}

.comment-controls {
    display: flex;
    margin: 8px 0 10px 0;
    justify-content: space-between;
}

.bold-item {
    font-weight: bold;
}

.post-edit-body {
    margin: 8px 10px 20px 10px;
}

.post-edit-label {
    font-style: initial;
    font-size: 16px;
    font-weight: bold;
    color: #017C82;
    display: block;
}

.post-edit-input {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 2px 8px 4px 8px;
}

input,
select,
textarea {
    font-size: 14px;
    color: #666;
}

button {
    background-color: #017C82;
    color: #ffffff;
    border: 1px solid #017C82;
    font-size: 14px;

    border-radius: 3px;

    opacity: 1;
    padding: 7px 20px 7px 20px;
}

.submit {
    width: 100%;
}

button:active,
button:hover {
    background-color: #ffffff;
    border: 1px solid #ccc;
    color: #666;
}

@media screen and (max-width: 768px) {
    .post-edit-input {
        width: 100%;
    }
    button {
        width: 100%;
    }
}

/*modal window*/
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 100, .6);
    z-index: 2;
}

.modal-window {
    position: absolute;
    margin: auto;
    background-color: #ffffff;
    top: 50%;
    max-height: calc(100% - 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #666;
    padding: 0;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, .3);
    overflow-y: auto;
    max-width: calc(100% - 100px);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #666;
}

.modal-title {
    padding: 10px 20px;
    font-weight: 700;
}

.modal-close {
    display: block;
    color: #666666;
    padding: 5px 10px 10px 10px;
}

.modal-content {
    padding: 0 20px 20px 20px;
}

.modal-message {
    display: block;
    margin-bottom: 20px;
}

.edit-comment-item {
    width: 900px;
    max-width: calc(100% - 20px);
}

.edit-comment-field {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    margin: 0;
}

label {
    font-weight: 700;
}

.error {
    color: #ff0000;
    font-weight: 400;
    font-style: italic;
    font-size: .9em;
    display: inline-block;
}

.form-group {
    margin-bottom: 10px;
}
